


html, body { height: 100%; }
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: gray;
}

.ManagerBox .mat-mdc-tab-body-content {
    overflow:hidden;
}

.mat-mdc-card {
    background-color: darkgrey;
}

.centerTxt {
    text-align: center;
}

header {
    background-color: darkgrey;
}
// h1, h2, h3, h4, h5, h6 {
//     color:white;
// }

mat-form-field {
    background-color: gray;
}

mat-card.mat-mdc-card, mat-expansion-panel.mat-expansion-panel, .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: lightgray;
}