<div class="container, generatorBox">
    <div class="row">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Prompt option settings
            </mat-panel-title>
            <mat-panel-description>
              Manage the number of options used from each section during generation
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let option of OptionsList">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{option.Title}} Options
                </mat-panel-title>
                <mat-panel-description>
                  Total # of options = {{option.Options.length}} || # of inluded options = {{option.NumOptionsToUse}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row">
              <div class="col-12">
                <mat-slider min="0" [max]="option.Options.length" step="1" showTickMarks discrete>
                    <input matSliderThumb [(ngModel)]="option.NumOptionsToUse" (valueChange)="saveOptions()">
                </mat-slider>
              </div>
              <div class="col-12">
                <mat-checkbox [(ngModel)]="option.Extras.UseAll" (change)="saveOptions()" matTooltipPosition="right" matTooltip="Use all trumps selected count and random amounts">Use all</mat-checkbox>
              </div>
              <div class="col-12">
                <mat-checkbox [(ngModel)]="option.Extras.RandomAmount" (change)="saveOptions()" matTooltipPosition="right" matTooltip="Random amount trumps selected count">Use random amount</mat-checkbox>
              </div>
            </div>
              <div class="row">
                <mat-chip-listbox >
                  <mat-chip *ngFor="let o of option.Options">
                    {{o}}
                  </mat-chip>
                </mat-chip-listbox>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
        
    </div>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 centerTxt generateBtnBox">
        <button mat-raised-button color="primary" (click)="generatePrompt()">Generate!</button>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row">
      
        <h2>Saved Results</h2>
        <app-saved-prompts></app-saved-prompts>
       
    </div>
</div>